
.reference-div{
    margin-top: 11px;
    margin-bottom: 13px;
    font-size: small;
}

.container-div{
    text-align: center;
}

.reference-div .reference-citekey{
    font-weight: bold;
}

.reference-div .reference-title{
    padding-top: var(--size-4-1);
}

.reference-div .reference-journal{
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    padding-top: var(--size-4-1);
    line-height: var(--line-height-tight);
    font-style: italic;
}